/*
 * Copyright (c) 2013 Fuse Elements, LLC. All rights reserved.
 */

@import 'nib'

h1
  text-align center

// Use the `development` class to add development only layout guides.
.development
  p
    border 1px dashed purple
